.body-class {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    max-width: 900px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 15px;
    width: 80%;
}

/* .form-group label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
} */

.form-group input {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.7);
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-control {
    color: rgba(0,0,0,0.7);
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
}

.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

