:root {
  --darkblue: #3B4782;
  --lightblue: #5C74E7;
  --grey: #3A3A42;
}

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


body::-webkit-scrollbar {
	width: 4px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: #292929; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #ffffff; /* color of the scroll thumb */
	border-radius: 15px; /* roundness of the scroll thumb */
}